<<<<<<< HEAD
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-content {
    flex: 1;
    padding: 20px;
}

.about-content h2 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
}

.about-content p {
    margin-bottom: 10px;
}

.about-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.1);
}
=======
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-content {
    flex: 1;
    padding: 20px;
}

.about-content h2 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
}

.about-content p {
    margin-bottom: 10px;
}

.about-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.1);
}
>>>>>>> b6c0f94d733f32c2a9b8938fe32edbd27c1bef40
