<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0px;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #efefef;
}

img, video {
    width: 100%;
}

a, a:active, a:link, a::before, a::after{
    color:black;
    text-decoration: none;
}

ul{
    list-style: none;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0px;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #efefef;
}

img, video {
    width: 100%;
}

a, a:active, a:link, a::before, a::after{
    color:black;
    text-decoration: none;
}

ul{
    list-style: none;
>>>>>>> b6c0f94d733f32c2a9b8938fe32edbd27c1bef40
}