<<<<<<< HEAD
@import './default.css';
@import './font_family.css';
@import './topbar.css';
@import './header.css';
@import './sidebar.css';
@import './posts.css';
@import './welcome.css';
@import './projects.css';
@import './about.css';
=======
@import './default.css';
@import './font_family.css';
@import './topbar.css';
@import './header.css';
@import './sidebar.css';
@import './posts.css';
@import './welcome.css';
@import './projects.css';
@import './about.css';
>>>>>>> b6c0f94d733f32c2a9b8938fe32edbd27c1bef40
@import './contact.css';