<<<<<<< HEAD
.container {
    display: flex;
    align-items: flex-start;
    font-family: "Orbitron", sans-serif;
}

.project-list {
    flex: 1;
}

.project-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.project-list ul {
    list-style: none;
    padding: 10px;
}

.project-list li {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.project-list li:hover {
    background-color: #e0e0e0;
}

.project-image {
    flex: 2;
    padding-left: 20px;
}

.project-image img {
    max-width: 100%;
    max-height: 800px;
    display: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

=======
.container {
    display: flex;
    align-items: flex-start;
    font-family: "Orbitron", sans-serif;
}

.project-list {
    flex: 1;
}

.project-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.project-list ul {
    list-style: none;
    padding: 10px;
}

.project-list li {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.project-list li:hover {
    background-color: #e0e0e0;
}

.project-image {
    flex: 2;
    padding-left: 20px;
}

.project-image img {
    max-width: 100%;
    max-height: 800px;
    display: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

>>>>>>> b6c0f94d733f32c2a9b8938fe32edbd27c1bef40
