* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #efefef;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #d3d4d4;
    margin: 0 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #d3d4d4,
                0 0 0 10px #d3d4d4,
                0 0 0 15px #d3d4d4;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ffffff;
    box-shadow: 0 0 0 10px #ffffff,
                0 0 0 10px #ffffff,
                0 0 0 15px #ffffff;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-50vh) scale(1);
    }
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the text appears above the bubbles */
    text-align: center; /* Center the text horizontally */
    color: #585c5b; /* Set text color */
    font-family: "Orbitron", sans-serif;
}

.hero-text h1 {
    font-size: 3rem; /* Adjust font size as needed */
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #585c5b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, #ffe7dc, #fcc3c4);
    /* background-image: linear-gradient(to right, #ff9966, #ff5e62); */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

/* Style for the second button */
.button.secondary {
    background-image: linear-gradient(to right, #dcedfc, #bef9fc);
}

.button.secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}